def test_one:
    assert (1.5, 2.3, 3.1) == (1.5, 2.3, 3.1)

def test_two:
        x = "five"
        assert "5" in x   

def test_reversed():
    assert list(reversed([1, 2, 3, 4])) == [4, 3, 2, 1]    

def test_three:
    if connect == '192.168.1.1':
        assert '192.168.1.1' == connect
    elif connect ==  '192.168.2.1':
        assert '192.168.2.1' == connect
    else:
        assert False

import pytest


@pytest.mark.parametrize("x", [0, 1])
@pytest.mark.parametrize("y", [2, 3])
def test_foo(x, y):
    pass        
